h1{
    margin-top: 0;
    margin-bottom: 42px;
}

.content{
    display: flex;
}

.empty1{
    flex: 1;
}

.empty2{
    flex: 1;
}



.locate-us{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locate-us img{
    width: 100%;
    height: auto;
    border: 2px solid rgba(102, 102, 102, 0.495);
    border-radius: 6px;
}

.store-info{
    width: 200px;
    background-color: rgba(0, 0, 0, 0.816);
    border-radius: 10px;
    padding: 21px 42px;
    margin-top: 30px;
    margin-left: 20px;
    color: rgb(205, 205, 205);
    box-shadow: 2px 2px 5px black;
    animation: zoomIn 0.5s;
}

@keyframes zoomIn {
    0%{
        opacity: 0;
        transform: scale(0);
        filter: blur(25px);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}



h2{
    margin: 0;
    color: rgb(245, 145, 145);
}

.phone-num p{
    margin: 0;
}