

body {
    margin: 0;

}

h1 {
    font-family: Arial ;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
    width: 100%;
    text-align: center;
}

#text1 {
    font-family: Arial ;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
	font-weight: bold;
    width: 100%;
    text-align: left;
}

#text2 {
    font-family: Arial ;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-right: 50px;
	font-weight: bold;
    width: 700px;

}

#text3 {
    font-family: Arial ;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
    margin-top: 160px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
	font-weight: bold;
    width: 100%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.vid2 {
    animation: fadeIn 3s;
    float: left;
    margin-left: 50px;
    clip-path: circle(30%);
    width: 50%;
}
.vid1 {
    animation: fadeIn 2s;
    float: right;
    margin-right: 50px;
    width: 675px;
    clip-path: circle(33%);
}
.vid3 {
    animation: fadeIn 2s;
    float: right;
    margin-right: 50px;
    width: 675px;
    clip-path: circle(33%);
}

